* {
  font-size: 100%;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
}

body {
  color: white;
  background-image: url('images/wmarble.jpg');
  background-repeat: repeat;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: black;
  font-size: 45px;
  text-align: center;
  padding-bottom: 60px;
  padding-top: 60px;
  margin: 25px;
}

header h1 {
  text-align: center;
}

header {
  color: gray;
  font-size: 25px;
  background-color: white;
}

section {
  color: darkslategray;
  font-size: 25px;
}

section,
footer {
  padding: 30px;
  clear: both;
}

ul {
  color: darkslategray;
  font-size: 25px;
  margin: 15px 0;
}

p {
  color: darkslategray;
  font-size: 25px;
  margin: 15px 0;
  text-align: center;
}

img {
  width: 400px;
}

a {
  color: red;  text-decoration: none;
  text-align: right;
}

a:active {
  color: darkslategray;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: black;
}

h1, h2 {
  font-weight: normal;
  margin-bottom: 20px;
}

footer {
  color: white;
  background-color: gray;
}

.title {
  font-size: 60px;
  color: black;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

header,
section,
footer {
  padding: 30px;
}

h2 {
  padding: 50px;
  color: black;
  font-size: 30px;
  text-align: center;
}

h3 {
  padding-bottom: 135px;
  padding-top: 135px;
  color: white;
  font-size: 30px;
  text-align: center;
}

h4 {
  padding-top: 135px;
  padding-bottom: 135px;
  color: black;
  font-size: 30px;
  text-align: center;
}

.bio-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.banner {
  height: 300px;
  background-image: url("images/bwm.jpg");
  background-size: cover;
  background-position-x: right;
  background-position-y: center;
  text-align: center;
  color: white;
}

.float-image {
  float: right;
  margin-right: 15px;
  margin-left: 15px;
}

.social-media {
  width: 100px;
  height: 100px;
}

.center {
  text-align: center;
}

.image-medium {
  width: 250px;
  height: 250px;
}

.column {
  width: 50%;
  float: left;
}

.special {
  color: darkslategray;
  font-size: 25px;
  margin: 15px 0;
  text align: left;
}
